#Theano
git+https://github.com/Theano/Theano.git
git+https://github.com/Lasagne/Lasagne.git
pandas
pylab
#git+https://github.com/Theano/libgpuarray.git
git+https://github.com/fchollet/keras.git
#git+https://github.com/lisa-lab/pylearn2.git
git+https://github.com/lmjohns3/theanets.git
pydot
#terminado
nltk

# other junk to prevent these from updating
scipy==0.15.1
numpy==1.9.2

ipython[notebook]
